{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="menu">
    <div class="container">
        <h2>Our popular menu</h2>
        <div {% if not category %}{% endif %}class="menu-buttons" >
            <a class="checked" href="{% url 'menu:product_list' %}">Все</a>
            {% for c in categories %}
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            {% endfor %}
        </div>
        <div class="menu-items">
            {% for product in products %}
            <div class="menu-item">
                <img src="{{ product.image.url }}" alt="">
                <h3>{{ product.name }}</h3>
                <div class="menu-item__raiting">
                    <img src="assets/images/menu/Star 1.svg" alt="">
                    <img src="assets/images/menu/Star 1.svg" alt="">
                    <img src="assets/images/menu/Star 1.svg" alt="">
                    <img src="assets/images/menu/Star 1.svg" alt="">
                    <img src="assets/images/menu/Star 5.svg" alt="">
                </div>
                <p>{{ product.description }}</p>
                <div class="menu-item__last">
                    <h4 class="menu-item__last-price">{{ product.price }}</h4>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="menu-pag">
            <a class="back" href="#"><span><</span></a>
            <a class="page" href="#"><span>1</span></a>
            <a class="page" href="#"><span>2</span></a>
            <a class="page" href="#"><span>3</span></a>
            <a class="dot" href="#"><span>...</span></a>
            <a class="next" href="#"><span>></span></a>
        </div>
    </div>
</section>
{% endblock %}